<header class="header">
  <!-- First Row -->
  <div class="header-top">
    <!-- Logo -->
    <div class="logo">MyShop</div>

    <!-- Search -->
    <div class="search-box">
      <input
        type="text"
        placeholder="Search for products..."
        class="text-black"
      />
      <button>🔍</button>
    </div>

    <!-- Profile -->
    <div class="profile">
      <a href="/profile">👤 Profile</a>
    </div>
  </div>

  <!-- Second Row -->
  <nav class="header-bottom">
    <ul>
      @for (item of categoryList; track $index) {
      <li>
        <a href="#">{{ item.name }}</a>
      </li>
      }
    </ul>
  </nav>
</header>
