<h1 class="text-3xl font-bold underline">Hello World</h1>
<h1 class="text-3xl font-bold underline">Hello world!</h1>
<!-- Basic button -->
<button mat-button>Basic</button>

<!-- Raised button -->
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button disabled>Disabled</button>

<!-- Flat button -->
<button mat-flat-button>Flat</button>

<!-- Stroked button -->
<button mat-stroked-button>Stroked</button>

<!-- Icon button -->
<button mat-icon-button aria-label="Example icon button">
  <!-- <mat-icon>favorite</mat-icon> -->dd
</button>
