<div class="w-full px-40">
  <h1 class="text-base text-center pt-3">
    @if (isEdit) { Edit Category } @else { Add New Category }
  </h1>
  <div class="p-[1px] w-full flex justify-center">
    <form class="w-96 p-4">
      <mat-form-field class="w-full">
        <mat-label>Name</mat-label>
        <input
          name="name"
          matInput
          placeholder="Ex. Mia"
          class="h-8 text-sm"
          [(ngModel)]="name"
        />
      </mat-form-field>

      <div class="flex justify-center w-full">
        <button
          mat-raised-button
          color="accent"
          type="button"
          (click)="isEdit ? updateCategory() : addCategory()"
          [disabled]="!name"
        >
          @if (isEdit) { Update } @else { Save }
        </button>
      </div>
    </form>
  </div>
</div>
